/* Styling for all selector*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Background colour for everything within body*/
body {
    background-color: #d9dcd6;
}
/* Styling for header*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Styling for all h1 elements*/
h1 {
    display: inline-block;
    font-size: 48px;
}
/* Styling for all h2 elements*/
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Styling for all h3 elements*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Styling for all h4 elements*/
h4 {
    font-size: 20px;
}
/* text color for SEO class*/
.seo {
    color: #d9dcd6;
}
/* Styling links class*/
.links {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Styling for Unordered Lists*/
ul {
    list-style-type: none;
}
/* Styling for all list elements*/
li {
    display: inline-block;
    margin-left: 25px;
}
/* Styling for all a elements*/
a {
    color: #ffffff;
    text-decoration: none;
}
/* Setting font size for p elements*/
p {
    font-size: 16px;
}
/* Styling background-image classr*/
.background-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}
/* Styling for float-left class*/
.float-left {
    float: left;
    margin-right: 25px;
}
/* Styling for float-right class*/
.float-right {
    float: right;
    margin-left: 25px;
}
/* Styling for content class*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Styling for benefits class*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Styling for benefit-lead class*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Styling for benefit-brand class*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Styling for benefit-cost class*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Styling for benefits class image element*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Styling for content class image element*/
.content img {
    max-height: 200px;
}
/* Styling for search-engine-optimization id*/
#search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Styling for online-reputation-management id*/
#online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Styling for social-media-marketing id*/
#social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Styling for footer*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}